@page "/register"
@attribute [Authorize(Roles = "Patient")]
@layout LoginLayout


<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 bg-light">
    <div class="panel-menu shadow-lg">
        <div class="patient-name mb-3 fw-bold text-primary fs-2">
            @PatientControl.FirstName @PatientControl.LastName
        </div>

        <h2 class="panel-title">Patient Medical History</h2>

        <div class="panel-button-list">
            <button class="btn btn-lg panel-button btn-outline-primary d-flex justify-content-between align-items-center w-100"
            onclick="@ClickPatient">
                <span>
                    <i class="fas fa-user-plus me-2"></i> Personal Information
                </span>
                <span class="fw-semibold px-2 rounded"
                      style="background-color: white; color:@(CompletePatient ? "green" : "red")">
                    @(CompletePatient ? "Complete" : "Incomplete")
                </span>
            </button>
            <button class="btn btn-lg panel-button btn-outline-primary d-flex justify-content-between align-items-center w-100"
                    onclick="@ClickPatient2">
                <span>
                    <i class="fas fa-user-plus me-2"></i> Medical History
                </span>
                <span class="fw-semibold px-2 rounded"
                      style="background-color: white; color:@(CompletePatient2 ? "green" : "red")">
                    @(CompletePatient2 ? "Complete" : "Incomplete")
                </span>
            </button>
            @if (ViewGinecologico)
            {
                <button class="btn btn-lg panel-button btn-outline-primary d-flex justify-content-between align-items-center w-100"
                onclick="@ClickGinecologico">
                <span>
                    <i class="fas fa-user-plus me-2"></i> Ginocologico
                </span>
                <span class="fw-semibold px-2 rounded"
                          style="background-color: white; color:@(CompleteGinecologico3 ? "green" : "red")">
                        @(CompleteGinecologico3 ? "Complete" : "Incomplete")
                </span>
            </button>
            }
            <button class="btn btn-lg panel-button btn-outline-primary d-flex justify-content-between align-items-center w-100"
                    onclick="@ClickPatient3">
                <span>
                    <i class="fas fa-user-plus me-2"></i> Psychosocial and Functional Conditions
                </span>
                <span class="fw-semibold px-2 rounded"
                      style="background-color: white; color:@(CompletePatient3 ? "green" : "red")">
                    @(CompletePatient3 ? "Complete" : "Incomplete")
                </span>
            </button>

            <hr />

            <button class="btn btn-lg panel-button btn-outline-success d-flex justify-content-between align-items-center w-100"
                    onclick="@CloseSessionAsync">
                <span>
                    <i class="fas fa-sign-in-alt me-2"></i> Close Session
                </span>
            </button>

@*                 <button class="btn btn-lg panel-button btn-outline-success">
                    <i class="fas fa-sign-in-alt me-2"></i> Iniciar sesión
                </button>
                <button class="btn btn-lg panel-button btn-outline-dark">
                    <i class="fas fa-user-secret me-2"></i> Acceso invitado
                </button> *@
        </div>
    </div>
</div>
